div.indexbg {

background-image: url("images/index.jpg");
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

div.myprofilebg {

  background-image: url("images/myprofilebg.jpg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }

  div.chatbg {

    background-image: url("images/chat.jpg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

    div.createpostbg {

      background-image: url("images/createposts.jpg");
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      }   
    
div.eventbg{
      background-image: url("images/event.jpg");
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      }
div.viewpostsbg{
  background-image: url("images/viewposts.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  }

.button1 {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: #000503;
    display: inline-block;
    font-size: 14px;
    margin: 5px 2px;
    border-radius: 8px;
  }

  .button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

.button2 {
    background-color: #196472;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: #000503;
    display: inline-block;
    font-size: 14px;
    margin: 5px 2px;
    border-radius: 8px;
    width: 25%;
    
  }

  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .button3 {
    background-color: #5d3f1d;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: #000503;
    display: inline-block;
    font-size: 14px;
    margin: 5px 2px;
    border-radius: 8px;
    width: 25%;
    
  }

  .button3:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

.button4 {
    background-color: #37075f;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: #000503;
    display: inline-block;
    font-size: 14px;
    margin: 5px 2px;
    border-radius: 8px;
    width: 25%; 
  }

  .button4:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .button5 {
    background-color: rgba(212,250,0,0.3);
    border: none;
    color: white;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    text-shadow: #000503;
    display: inline-block;
    font-size: 14px;
    margin: 5px 2px;
    border-radius: 2px;
    width: 25%; 
  }

  .button5:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .button6 {
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    text-shadow: #000503;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    border-radius: 15px;
    width: 25%; 
  }

  .button6:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

 input {
    width: auto;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 15px;

    background-color: white;
    background-position: 10px 10px; 
    padding: 12px 20px 12px 40px;
  }

.box{

    border: 1px solid rgb(255, 255, 255, 0.5);
    width: 30%;
    text-align: center;
    background-color: rgba(200, 29, 114, 0.1);
    border-radius: 8px;
    top: 25%;
    left: 35%;
    position: absolute;
    
    }

.box2{

      border: 1px solid rgba(255, 255, 255, 0.5);
      width: 30%;
      text-align: center;
      background-color: rgba(47, 0, 109, 0.4);
      border-radius: 8px;
      top: 15%;
      left: 35%;
      position: absolute;
      
      }

.box3{

        border: 1px solid rgba(255, 255, 255, 0.5);
        width: 30%;
        text-align: center;
        background-color: rgb(255, 255, 255, 0.3);
        border-radius: 8px;
        top: 25%;
        left: 35%;
        position: absolute;     
} 

.box4{

  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 30%;
  text-align: center;
  background-color: rgba(248, 248, 248, 0.4);
  border-radius: 8px;
  top: 25%;
  left: 35%;
  position: absolute;     
}  

.box5{

  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 30%;
  text-align: center;
  background-color: rgba(226, 21, 209, 0.4);
  border-radius: 8px;
  top: 25%;
  left: 35%;
  position: absolute;    
}   

    
 p1{
  font-family:Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px, #333333;
  font-size: 24px;
}

p2{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
}

p3{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
}

p4{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-shadow: 0.3px 0.3px #494949;
}

p5{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-shadow: 0.3px 0.3px #494949;
}